<header class="site header">
  <section class="languages wrapper">
    <ul class="languages container">
      <li class="language"><a href="http://ja.ishibashihideto.net/">日本語</a></li>
      <li class="selected language">English</li>
    </ul>
  </section>
  <section class="breadcrumbs wrapper">
    <nav role="navigation" class="breadcrumbs container">
      <h2 class="title">
        <a href="{{ site.baseurl }}/" rel="index">
          <img src="/images/site_id.png" width="300" height="300" alt="Hideto Ishibashi, Information Architect" class="vid"> Hideto Ishibashi
        </a>
      </h2>
      {% for category in page.categories %}
        / <a href="/{{ category }}">{{ category | capitalize }}</a>
      {% endfor %}
    </nav>
  </section>
  <section class="lead wrapper">
    <div class="lead container">
      Information Architect (Twitter: <a href="https://twitter.com/zerobase">@zerobase</a>)
    </div>
  </section>
</header>
